In [16]:
import pandas as pd
import requests
import json

In [17]:
URL = r'http://127.0.0.1:5000/predict'

In [18]:
df = pd.DataFrame(
    {
        "age": [60, 35, 20],
        "bmi": [36.005, 40, 25],
        "children": [2, 0, 0],
        "smoker": ["yes", "no", "no"]
    }
)

In [19]:
display(df)

   age     bmi  children smoker
0   60  36.005         2    yes
1   35  40.000         0     no
2   20  25.000         0     no

In [20]:
json_input = {"data": df.to_dict(orient='records')}

In [21]:
resposta = requests.post(url=URL, json=json_input)
resposta

In [24]:
resposta.json()

[46547.864183645375, 5859.396466295472, 3107.2935874440095]